# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Build artifacts
/dist/
/build/

# Test coverage
*.profraw
*.profdata
/coverage/
tarpaulin-report.html

# Documentation
/doc/

# pkgbuild
build-aux/arch/passenger-rs-bin/config.toml
build-aux/arch/passenger-rs-bin/src/
build-aux/arch/passenger-rs-bin/passenger-rs
*.zst
.SRCINFO
pkg/

# packaging
build-aux/arch/passenger-rs-bin/pkg/
build-aux/arch/passenger-rs-bin/src/
.SRCINFO
*.zst
/build-aux/arch/passenger-rs-bin/config.toml
/build-aux/arch/passenger-rs-bin/passenger-rs
